<div class="grid_7">
<h2 style="padding-bottom:1em; border-bottom: 1px dotted;">
    <b class="stat"><%= @stats[:users] %></b> active golfers, <b class="stat"><%= @stats[:entries] %></b> entries, <b class="stat"><%= @stats[:challenges]%></b> challenges
</h2>

<h3><b>Open VimGolf challenges</b></h3>

<% @challenges.each do |c| %>
    <div>
        <h5 class="challenge">
          <%= link_to c['title'], challenge_path(c['_id']) %> - <%= c['count_entries'] %> entries
        </h5>
        <p><%= c['description'] %></p>
    </div>
<% end %>

<%= paginate @paginatable_array, inner_window: 20 %>

</div>

<div class="grid_5">
    <h4>VimGolf Chatter</h4>
    <%= render :partial => "shared/tweets" %>
</div>
