<div class="grid_7">

    <% if @contributed.present? %>
        <h3><b>Contributed Challenges</b></h3>
        <%= render partial: "shared/challenge", collection: @contributed, as: :challenge %>
    <% end %>

</div>

<div class="grid_5">
    <div class="notice clearfix">
        <%= twitter_avatar @user.nickname %>

        <h6 style="margin-bottom:0">
            <b><%= @user.name %></b><br/>Twitter: <%= twitter_profile(@user.nickname) %>
        </h6>
        <p style="margin-bottom:0"><em><%= @user.description || @user.location %></em></p>
    </div>

    <h2 style="padding:0em;margin:0.5em 1.5em">contributed <b class="stat"><%= @contributed.size %></b> challenges</h2>
</div>
