<div class="grid_7">

  <h3><b>Played Challenges</b></h3>
    <% @show_profile.tried_challenges.each do |player_challenge| %>
        <div>
            <%= render partial: "shared/challenge", locals: { challenge: Challenge.find(player_challenge["challenge_id"]) } %>
            <ul>
              <li>Best score: <b><%= player_challenge['best_score'] %></b></li>
              <li>Best player score: <b><%= player_challenge['best_player_score'] %></b></li>
            <% if @show_profile.show_ranking %>
              <li>Position: <b>#<%= player_challenge['position'] %> / <%= player_challenge['count_golfers'] %></b></li>
            <% end %>
              <li>Number of attempts: <b><%= link_to player_challenge['attempts'],
                user_challenge_path(player_challenge['challenge_id'], @show_profile.nickname) %></b></li>
            </ul>
        </div>
    <% end %>

    <% if @show_profile.contributed.present? %>
        <h3><b>Contributed Challenges</b></h3>
        <%= render partial: "shared/challenge", collection: @show_profile.contributed, as: :challenge %>
    <% end %>

</div>

<div class="grid_5">
  <div class="notice clearfix">
    <%= twitter_avatar @show_profile.nickname %>

    <h6 style="margin-bottom:0">
      <b><%= @show_profile.name %></b><br/>Twitter: <%= twitter_profile(@show_profile.nickname) %>
    </h6>
    <p style="margin-bottom:0"><em><%= @show_profile.description || @show_profile.location %></em></p>
  </div>

  <h2 style="padding:0em;margin:1em 1.5em 0.5em 1.5em">entered into <b class="stat"><%= @show_profile.tried_challenges.size %></b> challenges</h2>
  <h2 style="padding:0em;margin:0.5em 1.5em">contributed <b class="stat"><%= @show_profile.contributed.size %></b> challenges</h2>
</div>
